body {
    margin: 0;
    padding: 0;
    background-image: url(assets/raining.gif);
}

nav {
    display: flex;
    background-color: gray;
    width: 100%;
    height: 100%;
    justify-content: center;
}

li {
    /* outline: 2px solid red; */
    list-style-type: none;
    padding: .5rem;
    margin-top: .2rem;
    margin-right: 1rem;
}

section,
.image-holder,
.button-container {
    /* outline: 2px solid red; */
}

.image-holder,
.image-replace,
.image-happy {
    margin-bottom: 3rem;
}

.image-happy { 
    height: 20vh;
}

.image-holder,
.button-container,
p {
    display: flex;
    justify-content: center;
}

.image-replace {
    display: none;
    justify-content: center;
}

.image-happy {
    display: none;
    justify-content: center;
}

p {
    margin-top: 15vh;
    font-size: 4em;
    color: black;
}

#yes {
    margin-right: 20px;
    height: 100px;
    width: 100px;
    background-color: green;
}

#no {
    background-color: red;
}

#no, #yes {
    cursor: pointer;
    width: 150px;
    height: 30px;
    color: white;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    border-radius: .9rem;
    border: none;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no:hover {
    background-color: red;
}

